// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "navbar";


//var
$blue: #59a5d8;
$light-blue: lighten($blue, 5%);
$dark-blue: darken($blue, 15%);
$white: #FFFFFF;
$black: #000000;
$red: #ff0000;
$dark-red: darken($red, 10%);

//mixin
@mixin devn(){
	font-size: 20px;
	color: $black;
	margin-top: 30px;
}
	
//css
.container{
	box-shadow: 0px 20px 5px 5px rgba(0, 0, 0, 0.2);
}
.devenir > div {
	height: 100vh;
	text-align: center;
	@include devn;
	p{
		margin-top: 150px;

	}
	iframe{
		margin-top: 150px;
	}
}
	img {
		margin:auto;
		
	}

h1{
	font-size: 30px;
}

.btn {
padding: 30px;
margin: auto;	
}

.fury{
	width: 100vh;
	height: 100vh;
}
